.mineboard {
	border: 1px solid #999999;
}

.minebox {
	margin: 1px;
	border: 1px solid #cccccc;
	width: 20px;
	height: 20px;
	padding: 0px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	
}

.minebox-covered {
	background: #cccccc;
}

.minebox-covered.minebox-gameover-mine {
	background-color: #cccccc;
	background-image: url("img/mine.png");
}

.minebox-opened {
	background: #ffffff;
}

.minebox-bombed {
	background-color: #ff0000;
	background-image: url("img/mine.png");
}

.minebox-flaged {
	background-color: #cccccc;
	background-image: url("img/flag.png");
}
.minebox-flaged.minebox-gameover-nomine {
	background-color: #cccccc;
	background-image: url("img/noflag.png");
}

.minebox-number-1 {
	color: #0000cc;
}
.minebox-number-2 {
	color: #006600;
}
.minebox-number-3 {
	color: #cc0000;
}
.minebox-number-4 {
	color: #000099;
}
.minebox-number-5 {
	color: #003300;
}
.minebox-number-6 {
	color: #990000;
}
.minebox-number-7 {
	color: #660066;
}
.minebox-number-8 {
	color: #000000;
}

#win-box {
	display: none;
}