.mineboard {
	border: 1px solid #999999;
}

.minebox {
	margin: 1px;
	border: 1px solid #cccccc;
	width: 20px;
	height: 20px;
	padding: 0px;
	font-size: 16px;
	text-align: center;
}

.minebox-covered {
	background: #cccccc;
}

.minebox-covered.minebox-gameover-mine {
	background-color: #cccccc;
	background-image: url("img/mine.png");
}

.minebox-opened {
	background: #ffffff;
}

.minebox-bombed {
	background-color: #ff0000;
	background-image: url("img/mine.png");
}

.minebox-flaged {
	background-color: #cccccc;
	background-image: url("img/flag.png");
}
.minebox-flaged.minebox-gameover-nomine {
	background-color: #cccccc;
	background-image: url("img/noflag.png");
}
#status-box {
	display: none;
}
#status-box.status-win {
	display: inherit;
}